.inner-menu ul {
    background-color: #3c948b;
    font-family: "Bitter", serif;
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: justify;
    margin: 0;
    padding: 0;
}

.inner-menu li {
    list-style: none;
    text-transform: uppercase;
    position: relative;
    display: table-cell;
    font-size: 1em;
    text-align: center;
    line-height: 3em;
    min-height: 3em;
    cursor: pointer;
    word-wrap: break-word;
}

.inner-menu li a {
    font-size: 2em;
    display: block;
    width: 100%;
    text-decoration: none;
    background: #2b2b2b;
    color: #fff;
    -webkit-transition: background 0.3s ease-out;
    transition: background 0.3s ease-out;
}

.inner-menu li a:hover {
    background: #cccccc;
    color: #2b2b2b;
    font-weight: bold;
}