*{
			margin: 0;
			padding: 0;
		}
		.inner-menu ul {
			list-style: outside none none;
			overflow: hidden;
			background-color: #3c948b;
			font-family: "Bitter",serif;
		}
		
		.inner-menu li {
			float: left;
    		text-transform: uppercase;
			width: 13%;
			margin-left: 10%;
			margin-right: 10%;
			margin-bottom: 10px;
			margin-top: 10px;
			text-align: center;
		}
		
		.inner-menu li a {
			padding: 10px;
			text-decoration: none;
			color: #343434;
		}
		
		.inner-menu li a:hover {
			background: red;
			color: white;
			border-radius: 25px;
			font-weight: bold;
		}